div.Navigation{
            position: fixed;
            height: 60px;
            width: 100%;
            top: 0;
            left: 0;
            margin:0;
            background-color: rgb(250, 250, 250);
            line-height: 0px;
        }
.NavigationScroll{
            position: fixed;
            height: 60px;
            width: 100%;
            top: 0;
            left: 0;
            margin:0;
            background-image:linear-gradient(to bottom, rgba(11, 137, 146,1) 10%, rgba(11, 137, 146, .9) 100%); 
            background-color:transparent;
            line-height: 0px;
        }

        div.Title{
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            text-align: center;
            line-height: 0px;
            margin:30px;
            padding-right: 0;
            padding:0px;

            float:left;
            color: rgb(11, 137, 146);
        }
        .TitleScroll{
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            text-align: center;
            line-height: 0px;
            margin:30px;
            padding-right: 0;
            padding:0px;

            float:left;
            color: white;
    
        }
        #TitleText{
            margin:0;
            padding:0;
            font-size: 30px;
        }
        div.Subset{
            border: 2px solid transparent;
            border-radius: 6px;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 11px;
            margin-bottom: 8px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 5px;
            padding-right: 5px;
            line-height: auto;
            width: auto;
            height: 35px;
            position: relative;
            float: right;
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            text-align: center;
            display: inline-block; 
            color: black;
        }
        .SubsetScroll{
            border: 2px solid transparent;
            border-radius: 6px;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 11px;
            margin-bottom: 8px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 5px;
            padding-right: 5px;
            line-height: auto;
            width: auto;
            height: 35px;
            position: relative;
            float: right;
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            text-align: center;
            display: inline-block; 
            color: white;
        }
        .SubsetText{
            vertical-align:middle;
            padding-top: 18px;
            padding-bottom: 25px;
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 5px;
            padding-right: 5px;
        }
        .Subset:hover{
            border-color: rgb(11, 137, 146);
            color: rgb(11, 137, 146);
            /*border-color: rgb(11, 137, 146);
            color: rgb(11, 137, 146);*/
        }
        .SubsetScroll:hover{
            border-color: rgb(255, 255, 255);
            color: rgb(255, 255, 255);
            /*border-color: rgb(11, 137, 146);
            color: rgb(11, 137, 146);*/
        }
        div.Spacer{
            position:static;
            top: 0px;
            width:100%;
            height: 60px;
            background-color: black;
            z-index: -1;
        }
div.SpacerContact{
            position:static;
            top: 0px;
            width:100%;
            height: 60px;
            background-color: white;
            z-index: -1;
        }
        div.Landing{
            margin:0;
            padding:0;
            height: 93vh;
            width: 100%;
            background-color: rgb(11, 137, 146);
            text-align: center;
            color:white;
        }
        #landing{
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 2vw;
            padding-top:33vh;
            padding-bottom: 37vh;
        }
        div.About{
            margin:0;
            padding:0;
            padding-top: 20px;
            padding-bottom: 70px;
            height: auto;
            width: 100%;
            background-color: rgb(216, 156, 104);
        }
        div.Taskbar{
            background-color:rgb(86, 86, 86);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            width: 750px;
            height:25px;
            margin-left: auto;
            margin-right: auto;
            margin-top:auto;
            margin-bottom: 0;
        }
        div.CodeWindow{
            background-color:rgb(226, 226, 226);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 750px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            margin-top:0;
            margin-bottom: 0;
            
        }
        #AboutHeading{
            color: white;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            text-align: center;
            padding-top: 70px;
            padding-bottom: 35px;
            letter-spacing: .4vw;
        }
        #Name{
            color: rgb(226, 226, 226);
            font-size: 20px;
            text-align: center;
        }
        .Question{
            font-family: 'Veranda', monospace;
            font-size: 15px;
            letter-spacing: .2vw;
            text-align: left;
            color: rgb(11, 137, 146);
            padding-top: 10px;
            padding-left: 20px;
        }
        .Answer{
            font-family: 'Veranda', monospace;
            font-size: 15px;
            letter-spacing: .2vw;
            text-align: left;
            color: rgb(214, 138, 8);
            padding-bottom:10px;
            padding-left: 30px;
        }
        div.CompSci{
            margin:0;
            padding:0;
            padding-top: 20px;
            padding-bottom: 70px;
            height: auto;
            width: 100%;
            background-color: rgb(232, 232, 232);
        }
        div.Projects{
            margin-left: 0 auto;
            margin-right: 0 auto;
            text-align: center;
        }
        div.Block{
            display: inline-block;
            vertical-align: top;
            width:450px;
            height: auto;
            
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 15px;
            padding-top: 15px;
        }
        div.Thumbnail{
            border-top-left-radius:6px;
            border-top-right-radius:6px;
            background-color: rgb(242, 242, 242);
            padding:10px;
        }
        
        div.Description{
            border-bottom-left-radius:6px;
            border-bottom-right-radius:6px;
            padding:15px;
            background-color: white;
            color:black;
        }
        #CompSciHeading{
            color: black;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            text-align: center;
            padding-top: 70px;
            padding-bottom: 35px;
            letter-spacing: .4vw;
        }
        .ProjectDescription{
            font-size: 15px;
            font-family: 'Karla', sans-serif;
            font-style: normal;
            font-weight: 100;
            line-height: 20px;
        }
        div.Photography{
            margin:0;
            padding:0;
            padding-top: 20px;
            padding-bottom: 70px;
            height: auto;
            width: 100%;
            background-color: rgb(206, 111, 111);
        }
        #PhotographyHeading{
            color: white;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            text-align: center;
            padding-top: 70px;
            padding-bottom: 35px;
            letter-spacing: .4vw;
        }
        div.Pictures{
            text-align: center;
            margin-left: 0 auto;
            margin-right: 0 auto;
        }
        div.Container{
            display: inline-block;
            vertical-align: top;
            width:auto;
            height: auto;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 15px;
            padding-top: 15px;
            margin-left: 0 auto;
            margin-right: 0 auto;
        }
        div.Photo{
            border-radius:6px;
            border-radius:6px;
            background-color: rgb(242, 242, 242);
            padding:20px;
        }
        div.Footer{
            margin:0;
            padding:0;
            height: auto;
            width: 100%;
            background-color: #fafafa;
            color: rgb(11, 137, 146);
        }
        #FooterText{
            padding-left: 20px;  
        }
        body { 
            margin-top:0;
            margin-right:0; 
            margin-left:0; 
            margin-bottom:0; 
        } 
        h1{
            margin:0;
            
            font-size: 10vw; 
        }
        h2{
            margin:0;
            
            font-size: 6vw;
        }
        h3{
            margin:0;
            
            font-size: 40px;
        }
        h4{
            margin:0;
            
            font-size: 1.5vw;
        }
        h5{
            margin:0;
            font-weight: normal;
            font-size: 20px;
        }
        h6{
            
            font-size: 12px;
              
        }
        .Button{
            border: 3px solid white ;
            color: white;
            font-family: sans-serif;
            font-size: 1vw;
            text-align: center;
            font-style: bold;
            border-radius: 6px;
            margin: auto;
            width: 150px;
            padding-left: 0px;
            padding-right: 0px;
            height:auto;
        }
        .Button:hover {
            background-color:white;
            color: rgb(11, 137, 146);
        }
        a:link {
            color: rgb(11, 137, 146); 
            background-color: transparent; 
            text-decoration: none;
        }

        a:visited {
            color: rgb(11, 137, 146);
            background-color: transparent;
            text-decoration: none;
        }

        a:hover {
            color: darkblue;
            background-color: transparent;
            text-decoration:inherit;
        }

        a:active {
            color: darkorange;
            background-color: transparent;
            text-decoration: inherit;
        }